<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}| HopScotch!</title>
{% block stylesheets %}
    {% if css %}{% for style in css %}
            <link rel="stylesheet" href="{{ static_url }}{{ style }}" />
        {% endfor %}{% endif %}
{% endblock stylesheets %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
</head>

<body>
<div id="wrapper">
    <div id="header">{% block header %}{% endblock %}</div>
    
    <div id="content">{% block content %}{% endblock %}</div>
    
    <div id="footer">{% block footer %}{% endblock %}</div>
</div>

{% block javascript %}
    {% if js %}{% for script in js %}
            <script type="text/javascript" src="{{ static_url }}{{ script }}"></script>
        {% endfor %}{% endif %}
{% endblock javascript %}
</body>

</html>