<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}| HopScotch!</title>
{% block stylesheets %}
    {% if css %}{% for style in css %}
            <link rel="stylesheet" href="{{ static_url }}{{ style }}" />
        {% endfor %}{% endif %}
{% endblock stylesheets %}
{% block extra_css %}
<style type="text/css">
body {
    background-image: url('{{static_url}}images/web-bg.jpg');
    background-repeat: no-repeat;
    background-color:#000;
}
h1 {
    color:#7E7E7E;
}
</style> 
{% endblock %}
{% block extra_js %}{% endblock %}
</head>

<body>
<div class="container">
    <div id="header">{% block header %}{% endblock %}</div>
    
    <div id="content">{% block content %}{% endblock %}</div>
    
    <div id="footer">{% block footer %}{% endblock %}</div>
</div>

{% block javascript %}
    {% if js %}{% for script in js %}
            <script type="text/javascript" src="{{ static_url }}{{ script }}"></script>
        {% endfor %}{% endif %}
{% endblock javascript %}
</body>

</html>