{% extends 'base.html' %}
{% block title %}Create Drink | {% endblock %}
{% block section_head %}create{% endblock section_head %}
{% block action_js %}
{% if user.is_authenticated %}
	<script type="text/javascript">
	user_id = "{{ user.id }}";
	username = "{{ user.username}}"
	</script>
{% endif %}
{% endblock %}
{% block content %}
<div id="checkin_form" class="form-horizontal creation-forms">

<div class='btn btn-checkin'>Enjoying now</div>
<div class='btn btn-cabinet'>Add to cellar</div>
</div>

{% endblock %}