{% extends 'base.html' %}
{% block content %}
<div class="beta">
<h2><span class="hpsctch-font">hpsct.ch</span> is in limited beta</h2>
<p>An app for beer and scotch drinkers and collectors.</p>
<p><strong>Enter email address to receive a login when it is available.</strong></p>
<form action="/beta/" method="POST" >
{% csrf_token %}
<input type="text" name="email" />
{% if error %}<p class="alert alert-error">{{ error }}</p>{% endif %}
<div class='beta-submit'><button type="submit" class="btn btn-cabinet">Submit Email</button></div>
</form>

</div>

{% endblock %}