{% extends 'base.html' %}
{% block content %}
<div class="12 beta">
<h2>HopScotch is in limited alpha</h2>

<p><strong>Ability to sign up for beta coming soon!</strong></p>
<div class='beta-submit'><button type="submit" class="btn btn-cabinet">Wee!</button></div>

<!--
<p><strong>Enter email address to receive a login when it is available.</strong></p>
<form action="/email/" method="post" >
<input type="text" name="email" />
<div class='beta-submit'><button type="submit" class="btn btn-cabinet">Submit Email</button></div>
</form>
-->
</div>

{% endblock %}