{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block section_head %}account{% endblock section_head %}
{% block action_account %}actions-active{% endblock %}
{% block content %}
<div class="row">
	<h2>Welcome, {{ user.first_name}}</h2>
	<p><a href="/change_password/">Change Password</a></p>
	<p><strong>Note:</strong> If you'd like to change your username (<strong>{{ user.username }}</strong>), contact <a href="mailto:accounts@hpsct.ch">accounts@hpsct.ch</a>)
</div>
<div class="row">
{% autoescape off %}{{ errors }}{% endautoescape %}
	<h3>Update profile</h3>
	<form class="form-horizontal" method="post" action="/user/{{user.username}}/account/">
		{% csrf_token %}

		<div class="control-group">
            <label class="control-label" for="first_name"><strong>First Name</strong></label>
            	<div class="controls">
            		<input type="text" name="first_name" value="{{ user.first_name }}"/>
            	</div>
        </div>
     	<div class="control-group">
            <label class="control-label" for="last_name"><strong>Last Name</strong></label>
            	<div class="controls">
            		<input type="text" name="last_name" value="{{ user.last_name }}"/>
            	</div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email"><strong>Email</strong></label>
            	<div class="controls">
            		<input type="text" name="email" value="{{ user.email }}"/>
            	</div>
        </div>
        <button type="submit" class="btn submit">Update</button>
     </form>
</div>

<div class="credits">
<p>Icons available from <a href="http://thenounproject.com">The Noun Project</a>:</p>
<ul>
<li><a href="http://thenounproject.com/noun/beer/#icon-No1591">Leigh Scholten, from The Noun Project</a></li>
<li><a href="http://thenounproject.com/noun/bottle/#icon-No1731">Julia Soderberg, from The Noun Project</a></li>
<li><a href="http://thenounproject.com/noun/gears/#icon-No2174">Dima Yagnyuk, from The Noun Project</a></li>
<li><a href="http://thenounproject.com/noun/vote/#icon-No7236">Jens Windolf, the Noun Project</a></li>
</ul>
<p>Code for this site is available on <a href="https://github.com/jasonbartz/hopscotch">Github</a></p>

</div>
{% endblock %}