{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block section_head %}cellar{% endblock section_head %}
{% block action_cellar %}actions-active{% endblock %}


{% block action_js %}
<script type="text/javascript">
var checkins = new HopScotch.Search()
checkins.search('user__id={{user_id}}&own=true', 'checkin');
$.each(checkins.results['objects'],function(key, value){
    html = _.template(tmpl_drink_user, value);
    $('.search_results').append(html);
})


</script>
{% endblock %}
{% block content %}


<div class="search_results">

</div>
{% endblock %}