{% extends 'base.html' %}
{% block title %}Checkin | {% endblock %}
{% block section_head %}checkin{% endblock section_head %}

{% block action_js %}
{% if user.is_authenticated %}
	<script type="text/javascript">
	user_id = "{{ user.id }}";
	</script>
{% endif %}
{% endblock %}
{% block content %}

<div id="search">
<input type="text" class="input-medium search-query">
<button type="submit" id="search" class="btn btn-cabinet">Search for drinks</button>
<button type="submit" id="create-drink" class="btn btn-checkin">Create a drink.</button>
</div>
<div class="search_results">

</div>
{% endblock %}
